openapi: 3.2.0
info:
  title: Grade Items API
  version: dbad45cb
  description: Catálogo IPTV, biblioteca pessoal com feeds e informações para produtores sobre transmissão autorizada sob consulta.
servers:
- url: https://gradetv.net
tags:
- name: Items
paths:
  /api/items:
    post:
      operationId: add_item
      summary: Põe um canal do catálogo numa sub-aba da galeria
      description: 'Teto de 40 canais por sub-aba. A resposta diz em que pasta e sub-aba o canal caiu, para a tela abrir no lugar certo. A resposta traz a biblioteca inteira já atualizada — não precisa recarregar `GET /api/library` depois.

        Devolve: { owner, feeds{m3u,m3u8,json,xspf}, categories[{id,name,slug,sort,last_group_id,api,feeds,groups}], id, group_id, category_id }'
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                group_id:
                  type: string
                  description: Sub-aba que recebe o canal, `grp_…`.
                channel_id:
                  type: string
                  description: ID do canal no catálogo, ex. `Globo.br`.
                stream_id:
                  type: string
                  description: Stream específico; sem ele o servidor escolhe o melhor.
              required:
              - group_id
              - channel_id
            example:
              group_id: grp_…
              channel_id: Globo.br
      responses:
        '200':
          description: '{ owner, feeds{m3u,m3u8,json,xspf}, categories[{id,name,slug,sort,last_group_id,api,feeds,groups}], id, group_id, category_id }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BibliotecaComItem'
        '400':
          description: Teto de 40 canais na sub-aba atingido.
        '401':
          description: Sem credencial ou credencial inválida. Veja a auth deste endpoint.
        '404':
          description: Sub-aba ou canal não encontrados.
      tags:
      - Items
  /api/items/{id}:
    delete:
      operationId: delete_api_items_by_id
      summary: Tira um canal da sub-aba. O canal continua no catálogo público, claro
      description: 'Devolve: { owner, feeds{m3u,m3u8,json,xspf}, categories[{id,name,slug,sort,last_group_id,api,feeds,groups}] }'
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ owner, feeds{m3u,m3u8,json,xspf}, categories[{id,name,slug,sort,last_group_id,api,feeds,groups}] }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Biblioteca'
        '401':
          description: Sem credencial ou credencial inválida. Veja a auth deste endpoint.
        '404':
          description: Recurso não existe (ou não é seu — a API não distingue os dois de propósito).
      tags:
      - Items
  /api/items/{id}/play:
    post:
      operationId: post_api_items_by_id_play
      summary: Marca este canal como o último tocado da sub-aba — é o que devolve a pessoa…
      description: 'Não conta play público nem entra no histórico; para isso são `POST /api/history` e `POST /api/play-report`.

        Devolve: { owner, feeds{m3u,m3u8,json,xspf}, categories[{id,name,slug,sort,last_group_id,api,feeds,groups}] }'
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '{ owner, feeds{m3u,m3u8,json,xspf}, categories[{id,name,slug,sort,last_group_id,api,feeds,groups}] }'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Biblioteca'
        '401':
          description: Sem credencial ou credencial inválida. Veja a auth deste endpoint.
        '404':
          description: Recurso não existe (ou não é seu — a API não distingue os dois de propósito).
      tags:
      - Items
components:
  schemas:
    Feeds:
      type: object
      properties:
        m3u:
          type: string
          description: Playlist M3U — é o que se cola no VLC.
        m3u8:
          type: string
          description: Mesma playlist, extensão `.m3u8` para players que só aceitam ela.
        json:
          type: string
          description: Mesma lista em JSON, para quem programa em cima.
        xspf:
          type: string
          description: Mesma lista em XSPF, para players que preferem XML.
      required:
      - m3u
      - m3u8
      - json
      - xspf
      description: O mesmo conteúdo em quatro formatos. São URLs públicas, com o token do feed no caminho — quem tem o link tem o conteúdo.
    SubAba:
      type: object
      properties:
        id:
          type: string
          description: ID da sub-aba, `grp_…`.
        name:
          type: string
          description: Nome que o dono deu.
        slug:
          type: string
          description: Versão do nome usada na URL do feed.
        sort:
          type: integer
          description: Posição na ordenação dentro da pasta.
        last_item_id:
          type: string
          description: Último canal tocado nesta sub-aba.
          nullable: true
        api:
          type: string
          description: URL absoluta desta sub-aba.
        feeds:
          allOf:
          - $ref: '#/components/schemas/Feeds'
          description: Feeds só desta sub-aba.
        items:
          type: array
          items:
            $ref: '#/components/schemas/ItemBiblioteca'
          description: Canais colocados aqui, na ordem do dono.
      required:
      - id
      - name
      - slug
      - sort
      - last_item_id
      - api
      - feeds
      - items
      description: Sub-aba dentro de uma pasta; é o nível que agrupa os canais.
    ItemBiblioteca:
      type: object
      properties:
        id:
          type: string
          description: ID do item na biblioteca, `itm_…`.
        channel_id:
          type: string
          description: ID do canal no catálogo, ex. `Globo.br`.
        stream_id:
          type: string
          description: Stream escolhido para este item.
          nullable: true
        name:
          type: string
          description: Nome do canal; cai no `channel_id` se o canal sumiu do catálogo.
        logo_url:
          type: string
          description: Logo servido por nós.
          nullable: true
        url:
          type: string
          description: URL de reprodução no hop; `null` quando o stream sumiu.
          nullable: true
        quality:
          type: string
          description: Qualidade do stream escolhido.
          nullable: true
        kind:
          type: string
          description: 'Tipo de mídia: `hls`, `mpd`, `mp4`…'
        playable_hint:
          type: boolean
          description: Se a última verificação achou o stream utilizável.
        stale:
          type: boolean
          description: '`true` quando o canal ou o stream sumiu da fonte — o item fica, sem tocar.'
        sort:
          type: integer
          description: Posição dentro da sub-aba.
      required:
      - id
      - channel_id
      - stream_id
      - name
      - logo_url
      - url
      - quality
      - kind
      - playable_hint
      - stale
      - sort
      description: Um canal dentro de uma sub-aba, com o stream já escolhido.
    PastaBiblioteca:
      type: object
      properties:
        id:
          type: string
          description: ID da pasta, `cat_…`.
        name:
          type: string
          description: Nome que o dono deu.
        slug:
          type: string
          description: Versão do nome usada na URL do feed.
        sort:
          type: integer
          description: Posição na ordenação do dono.
        last_group_id:
          type: string
          description: Sub-aba aberta por último — é o que devolve a pessoa ao lugar onde parou.
          nullable: true
        api:
          type: string
          description: URL absoluta desta pasta.
        feeds:
          allOf:
          - $ref: '#/components/schemas/Feeds'
          description: Feeds só desta pasta.
        groups:
          type: array
          items:
            $ref: '#/components/schemas/SubAba'
          description: Sub-abas dentro da pasta.
      required:
      - id
      - name
      - slug
      - sort
      - last_group_id
      - api
      - feeds
      - groups
      description: Pasta (aba principal) da galeria do dono.
    BibliotecaComItem:
      type: object
      properties:
        owner:
          type: string
          description: 'Rótulo derivado do dono desta árvore — estável enquanto o feed for o mesmo, e não reversível. NÃO é o token de convidado: publicá-lo aqui faria uma API key delegada escalar para a credencial mestra, que não tem revogação.'
        feeds:
          allOf:
          - $ref: '#/components/schemas/Feeds'
          description: Feeds da biblioteca inteira, em quatro formatos.
        categories:
          type: array
          items:
            $ref: '#/components/schemas/PastaBiblioteca'
          description: As pastas do dono, na ordem que ele arrumou.
        id:
          type: string
          description: ID do item criado, `itm_…`.
        group_id:
          type: string
          description: Sub-aba que recebeu o canal.
        category_id:
          type: string
          description: Pasta a que essa sub-aba pertence.
      required:
      - owner
      - feeds
      - categories
      - id
      - group_id
      - category_id
      description: A biblioteca inteira mais onde o canal caiu — para a tela abrir na sub-aba certa.
    Biblioteca:
      type: object
      properties:
        owner:
          type: string
          description: 'Rótulo derivado do dono desta árvore — estável enquanto o feed for o mesmo, e não reversível. NÃO é o token de convidado: publicá-lo aqui faria uma API key delegada escalar para a credencial mestra, que não tem revogação.'
        feeds:
          allOf:
          - $ref: '#/components/schemas/Feeds'
          description: Feeds da biblioteca inteira, em quatro formatos.
        categories:
          type: array
          items:
            $ref: '#/components/schemas/PastaBiblioteca'
          description: As pastas do dono, na ordem que ele arrumou.
      required:
      - owner
      - feeds
      - categories
      description: 'A galeria inteira do dono: pastas, sub-abas, canais e as URLs de feed de cada nível.'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: ipt_… (guest) ou iptk_… (API key)
