{
  "openapi": "3.1.0",
  "info": {
    "title": "Grade",
    "version": "dbad45cb",
    "description": "Catálogo IPTV, biblioteca pessoal com feeds e informações para produtores sobre transmissão autorizada sob consulta."
  },
  "servers": [
    {
      "url": "https://gradetv.net"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "ipt_… (guest) ou iptk_… (API key)"
      }
    },
    "schemas": {
      "Saude": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "Sempre `true` quando o Worker responde."
          },
          "app": {
            "type": "string",
            "description": "Nome do produto."
          },
          "build": {
            "type": "string",
            "description": "Commit publicado; o CI passa o SHA curto no deploy."
          },
          "ts": {
            "type": "string",
            "description": "Momento da resposta (UTC, ISO-8601)."
          },
          "catalog": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FrescorCatalogo"
              }
            ],
            "description": "Idade do catálogo: `synced_at` da última recarga e se passou do limite de 2 dias (o smoke reprova)."
          },
          "sources": {
            "type": "object",
            "description": "Uma entrada por fonte do catálogo, pelo nome (`iptv-org`, o tronco; as demais conforme entram): `fetched_at`, `sha256`, `itens`, `age_hours`, `limit_days`, `stale` (passou do limite ou a recarga usou o snapshot anterior), `ausente` (saiu sem a fonte). Só o tronco velho reprova o smoke."
          }
        },
        "required": [
          "ok",
          "app",
          "build",
          "ts",
          "catalog",
          "sources"
        ],
        "description": "A resposta de `/api/health`: liveness, o commit publicado e a idade do catálogo."
      },
      "FrescorCatalogo": {
        "type": "object",
        "properties": {
          "synced_at": {
            "type": "string",
            "description": "Instante (ISO-8601) da última recarga que entrou no ar; `null` se nunca.",
            "nullable": true
          },
          "age_hours": {
            "type": "integer",
            "description": "Horas inteiras desde `synced_at`; `null` sem carimbo.",
            "nullable": true
          },
          "stale": {
            "type": "boolean",
            "description": "`true` quando passou de `limit_days` — o cron avisa por e-mail e o smoke reprova."
          },
          "limit_days": {
            "type": "integer",
            "description": "O limite em dias (2)."
          }
        },
        "required": [
          "synced_at",
          "age_hours",
          "stale",
          "limit_days"
        ],
        "description": "Idade do catálogo, como sai em `/api/health`."
      },
      "PaginaDeCanais": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Canal"
            },
            "description": "Os canais desta página, na ordem pedida (`sort`): nome, ou melhor saúde medida primeiro."
          },
          "total": {
            "type": "integer",
            "description": "Canais que casam com o filtro, ignorando a paginação."
          },
          "limit": {
            "type": "integer",
            "description": "Tamanho de página aplicado (teto de 50)."
          },
          "offset": {
            "type": "integer",
            "description": "Deslocamento aplicado nesta página."
          },
          "next_offset": {
            "type": "integer",
            "description": "Offset da próxima página; `null` quando acabou.",
            "nullable": true
          },
          "facets": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FacetasCanal"
              }
            ],
            "description": "Contagem por categoria DENTRO do filtro atual — serve para montar o menu lateral."
          },
          "filters": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FiltrosCanal"
              }
            ],
            "description": "Os filtros como o servidor os entendeu, já normalizados."
          }
        },
        "required": [
          "items",
          "total",
          "limit",
          "offset",
          "next_offset",
          "facets",
          "filters"
        ],
        "description": "A resposta da busca de canais. Não usa o envelope `Pagina<T>` porque troca `api` por `facets` e `filters`."
      },
      "Canal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID estável do iptv-org, ex. `Globo.br`. É a chave em toda a API."
          },
          "name": {
            "type": "string",
            "description": "Nome de exibição do canal."
          },
          "alt_names": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Outros nomes pelos quais o canal é conhecido."
          },
          "country": {
            "type": "string",
            "description": "País de origem, ISO 3166-1 alpha-2.",
            "nullable": true
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs de categoria do iptv-org, ex. `news`, `sports`."
          },
          "category_labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Os mesmos IDs já traduzidos para exibição."
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Idiomas do canal, ISO 639-3."
          },
          "language_labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Nomes dos idiomas acima, quando conhecidos."
          },
          "is_nsfw": {
            "type": "boolean",
            "description": "Conteúdo adulto — exige consentimento 18+ para aparecer."
          },
          "logo_url": {
            "type": "string",
            "description": "Logo servido por nós (variante ≤256px), não a origem.",
            "nullable": true
          },
          "website": {
            "type": "string",
            "description": "Site oficial do canal.",
            "nullable": true
          },
          "playable_hint": {
            "type": "boolean",
            "description": "Se a última verificação achou stream utilizável."
          },
          "slug": {
            "type": "string",
            "description": "Identificador legível; é id de API, não URL pública.",
            "nullable": true
          },
          "network": {
            "type": "string",
            "description": "Rede/emissora a que o canal pertence.",
            "nullable": true
          },
          "owners": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Quem opera o canal, segundo o iptv-org."
          },
          "launched": {
            "type": "string",
            "description": "Data de lançamento (AAAA-MM-DD).",
            "nullable": true
          },
          "replaced_by": {
            "type": "string",
            "description": "ID do canal que substituiu este, se foi descontinuado.",
            "nullable": true
          },
          "feed_name": {
            "type": "string",
            "description": "Nome do feed quando o canal tem mais de um.",
            "nullable": true
          },
          "feed_format": {
            "type": "string",
            "description": "Formato do feed declarado pela fonte.",
            "nullable": true
          },
          "timezones": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Fusos em que o canal transmite."
          },
          "broadcast_area": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Área de cobertura, em códigos do iptv-org."
          },
          "quality": {
            "type": "string",
            "description": "Melhor qualidade conhecida, ex. `1080p`."
          },
          "has_guide": {
            "type": "boolean",
            "description": "Se existe grade de programação (EPG) para este canal."
          },
          "guide_site": {
            "type": "string",
            "description": "Site de onde a grade vem.",
            "nullable": true
          },
          "guide_lang": {
            "type": "string",
            "description": "Idioma da grade de programação.",
            "nullable": true
          },
          "subdivision": {
            "type": "string",
            "description": "Estado/província, código do iptv-org.",
            "nullable": true
          },
          "city": {
            "type": "string",
            "description": "Cidade, código do iptv-org.",
            "nullable": true
          },
          "kind": {
            "type": "string",
            "description": "`tv` ou `radio` (estação do Radio Browser)."
          },
          "radio": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Radio"
              }
            ],
            "description": "Só em estação de rádio: tags, votos, cliques, codec, bitrate e localização."
          },
          "origem": {
            "type": "string",
            "description": "Fonte que trouxe o canal: `iptv-org` (o tronco) ou uma das listas creditadas em `/sobre`."
          },
          "guide_now": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GuiaAgora"
              }
            ],
            "description": "Só na ficha: agora e a seguir na programação de hoje, grabada por nós; `null` sem guia fresca.",
            "nullable": true
          },
          "health_ext": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SaudeMedida"
              }
            ],
            "description": "Saúde medida por terceiro (IPTV Nexus); `null` quando o canal não foi medido.",
            "nullable": true
          },
          "social": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Social"
              }
            ],
            "description": "Contadores da comunidade; ausente nas páginas HTML de SEO."
          },
          "api": {
            "type": "string",
            "description": "URL absoluta da ficha deste canal."
          }
        },
        "required": [
          "id",
          "name",
          "alt_names",
          "country",
          "categories",
          "category_labels",
          "languages",
          "language_labels",
          "is_nsfw",
          "logo_url",
          "website",
          "slug",
          "network",
          "owners",
          "launched",
          "replaced_by",
          "feed_name",
          "feed_format",
          "timezones",
          "broadcast_area",
          "has_guide",
          "guide_site",
          "guide_lang",
          "subdivision",
          "city",
          "kind",
          "origem",
          "health_ext",
          "api"
        ],
        "description": "Um canal do catálogo público (fonte iptv-org), do jeito que a busca e a ficha devolvem."
      },
      "Radio": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags da estação, vocabulário livre da fonte."
          },
          "votes": {
            "type": "integer",
            "description": "Votos da comunidade do Radio Browser."
          },
          "clicks": {
            "type": "integer",
            "description": "Cliques contados pelo Radio Browser."
          },
          "codec": {
            "type": "string",
            "description": "Codec do stream (`MP3`, `AAC+`…), quando a fonte sabe.",
            "nullable": true
          },
          "bitrate": {
            "type": "integer",
            "description": "Bitrate em kbps, quando a fonte sabe.",
            "nullable": true
          },
          "geo": {
            "type": "object",
            "description": "`{ lat, lon }` da estação, quando a fonte tem; senão `null`.",
            "nullable": true
          }
        },
        "required": [
          "tags",
          "votes",
          "clicks",
          "codec",
          "bitrate",
          "geo"
        ],
        "description": "O que só uma estação de rádio tem (Radio Browser). Vem em `Canal.radio` quando `kind` é `radio`."
      },
      "GuiaAgora": {
        "type": "object",
        "properties": {
          "day": {
            "type": "string",
            "description": "Dia grabado, YYYY-MM-DD (UTC do grabber)."
          },
          "site": {
            "type": "string",
            "description": "Site de programação de onde a grade veio (ex. `mi.tv`).",
            "nullable": true
          },
          "agora": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Programa"
              }
            ],
            "description": "O programa no ar neste instante; `null` fora da grade.",
            "nullable": true
          },
          "a_seguir": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Programa"
              }
            ],
            "description": "O próximo programa; `null` no fim da grade.",
            "nullable": true
          }
        },
        "required": [
          "day",
          "site",
          "agora",
          "a_seguir"
        ],
        "description": "Resumo da guia do dia que a ficha carrega: o programa de agora e o próximo."
      },
      "Programa": {
        "type": "object",
        "properties": {
          "inicio": {
            "type": "string",
            "description": "Começo do programa, ISO 8601."
          },
          "fim": {
            "type": "string",
            "description": "Fim do programa, ISO 8601."
          },
          "titulo": {
            "type": "string",
            "description": "Título como o site da programação escreve."
          },
          "desc": {
            "type": "string",
            "description": "Sinopse curta (até 300 caracteres)."
          },
          "categoria": {
            "type": "string",
            "description": "Categoria do site, quando ele dá."
          }
        },
        "required": [
          "inicio",
          "fim",
          "titulo"
        ],
        "description": "Um programa da grade do dia, com os instantes em ISO 8601 (UTC)."
      },
      "SaudeMedida": {
        "type": "object",
        "properties": {
          "score": {
            "type": "integer",
            "description": "0–100, média móvel das sondagens do melhor stream do canal.",
            "nullable": true
          },
          "online": {
            "type": "boolean",
            "description": "Algum stream do canal respondeu `online` numa sondagem das 48 h anteriores à última recarga do catálogo (rádio: o checker do Radio Browser)."
          },
          "checked_at": {
            "type": "string",
            "description": "Instante (ISO-8601) da sondagem mais recente gravada; a recarga só o regrava quando algo mais do canal mudou ou a cada 7 dias, então pode estar até uma semana atrás da sondagem real.",
            "nullable": true
          }
        },
        "required": [
          "score",
          "online",
          "checked_at"
        ],
        "description": "Saúde do canal medida por terceiro (IPTV Nexus, que sonda cada stream do iptv-org duas vezes por dia). É o melhor stream medido; `null` quando ninguém mediu — não medido não é ruim."
      },
      "Social": {
        "type": "object",
        "properties": {
          "plays": {
            "type": "integer",
            "description": "Relatos de que o canal tocou."
          },
          "fails": {
            "type": "integer",
            "description": "Relatos de que o canal falhou."
          },
          "favorites": {
            "type": "integer",
            "description": "Quantas pessoas favoritaram — conta pessoas, não cliques."
          },
          "comments": {
            "type": "integer",
            "description": "Comentários públicos no canal."
          },
          "last_fail_code": {
            "type": "string",
            "description": "Código da falha mais recente relatada.",
            "nullable": true
          },
          "health": {
            "type": "integer",
            "description": "Percentual de sucesso; `null` enquanto houver menos de 3 relatos.",
            "nullable": true
          },
          "your_plays": {
            "type": "integer",
            "description": "Relatos de sucesso no SEU navegador, sistema e país."
          },
          "your_fails": {
            "type": "integer",
            "description": "Relatos de falha no seu ambiente — é o que distingue 'fora do ar' de 'bloqueado para você'."
          },
          "your_fail_code": {
            "type": "string",
            "description": "Código da última falha no seu ambiente.",
            "nullable": true
          },
          "your_country_ok": {
            "type": "integer",
            "description": "Relatos de sucesso no SEU país, sem quebrar por navegador/SO."
          },
          "your_country_fail": {
            "type": "integer",
            "description": "Relatos de falha no seu país."
          },
          "your_geo_ok": {
            "type": "boolean",
            "description": "`false` = todas as tentativas relatadas no seu país falharam (suspeita de geo-bloqueio); `null` sem relato suficiente.",
            "nullable": true
          },
          "your_latency_ms": {
            "type": "integer",
            "description": "Latência média da playlist medida no hop, na borda do seu país; `null` sem medição.",
            "nullable": true
          },
          "your_latency_grade": {
            "type": "string",
            "description": "`otima`, `boa`, `lenta` ou `ruim`; `null` sem medição.",
            "nullable": true
          }
        },
        "required": [
          "plays",
          "fails",
          "favorites",
          "comments",
          "last_fail_code",
          "health",
          "your_plays",
          "your_fails",
          "your_fail_code",
          "your_country_ok",
          "your_country_fail",
          "your_geo_ok",
          "your_latency_ms",
          "your_latency_grade"
        ],
        "description": "Contadores da comunidade sobre um canal, incluindo o recorte do ambiente e do país de quem pediu."
      },
      "FacetasCanal": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FacetaCategoria"
            },
            "description": "Categorias presentes no resultado, com a contagem de cada uma."
          }
        },
        "required": [
          "categories"
        ],
        "description": "Recortes da busca atual. Hoje só categoria; o formato aceita mais sem quebrar cliente."
      },
      "FacetaCategoria": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID da categoria no iptv-org, ex. `news`."
          },
          "name": {
            "type": "string",
            "description": "Nome da categoria para exibição."
          },
          "count": {
            "type": "integer",
            "description": "Canais desta categoria dentro do filtro atual."
          },
          "icon": {
            "type": "string",
            "description": "Nome do ícone usado na interface.",
            "nullable": true
          }
        },
        "required": [
          "id",
          "name",
          "count",
          "icon"
        ],
        "description": "Categoria com a contagem dentro da busca que acabou de ser feita."
      },
      "FiltrosCanal": {
        "type": "object",
        "properties": {
          "q": {
            "type": "string",
            "description": "Busca textual aplicada.",
            "nullable": true
          },
          "country": {
            "type": "string",
            "description": "País aplicado, já em maiúsculas.",
            "nullable": true
          },
          "category": {
            "type": "string",
            "description": "Categoria aplicada.",
            "nullable": true
          },
          "language": {
            "type": "string",
            "description": "Idioma aplicado, já normalizado para ISO 639-3.",
            "nullable": true
          },
          "network": {
            "type": "string",
            "description": "Rede aplicada.",
            "nullable": true
          },
          "quality": {
            "type": "string",
            "description": "Qualidade aplicada.",
            "nullable": true
          },
          "guide": {
            "type": "boolean",
            "description": "Se o filtro de grade de programação estava ligado."
          },
          "subdivision": {
            "type": "string",
            "description": "Subdivisão aplicada.",
            "nullable": true
          },
          "city": {
            "type": "string",
            "description": "Cidade aplicada.",
            "nullable": true
          },
          "nsfw": {
            "type": "boolean",
            "description": "Se o conteúdo adulto foi incluído."
          },
          "playable": {
            "type": "boolean",
            "description": "Se só canal com stream utilizável entrou."
          },
          "sort": {
            "type": "string",
            "description": "Ordem aplicada: `name`, `score` (saúde medida por terceiro) ou `votes` (rádio)."
          },
          "online": {
            "type": "boolean",
            "description": "Se só canal visto online pela fonte nas 48 h anteriores à última recarga entrou."
          },
          "kind": {
            "type": "string",
            "description": "`tv`, `radio` ou `all` — sem `kind` na chamada, é `tv`."
          },
          "tag": {
            "type": "string",
            "description": "Tag de rádio aplicada.",
            "nullable": true
          }
        },
        "required": [
          "q",
          "country",
          "category",
          "language",
          "network",
          "quality",
          "guide",
          "subdivision",
          "city",
          "nsfw",
          "playable",
          "sort",
          "online",
          "kind",
          "tag"
        ],
        "description": "O que o servidor entendeu do que você mandou — útil para saber por que um filtro não pegou."
      },
      "CanalCompleto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID estável do iptv-org, ex. `Globo.br`. É a chave em toda a API."
          },
          "name": {
            "type": "string",
            "description": "Nome de exibição do canal."
          },
          "alt_names": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Outros nomes pelos quais o canal é conhecido."
          },
          "country": {
            "type": "string",
            "description": "País de origem, ISO 3166-1 alpha-2.",
            "nullable": true
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs de categoria do iptv-org, ex. `news`, `sports`."
          },
          "category_labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Os mesmos IDs já traduzidos para exibição."
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Idiomas do canal, ISO 639-3."
          },
          "language_labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Nomes dos idiomas acima, quando conhecidos."
          },
          "is_nsfw": {
            "type": "boolean",
            "description": "Conteúdo adulto — exige consentimento 18+ para aparecer."
          },
          "logo_url": {
            "type": "string",
            "description": "Logo servido por nós (variante ≤256px), não a origem.",
            "nullable": true
          },
          "website": {
            "type": "string",
            "description": "Site oficial do canal.",
            "nullable": true
          },
          "playable_hint": {
            "type": "boolean",
            "description": "Se a última verificação achou stream utilizável."
          },
          "slug": {
            "type": "string",
            "description": "Identificador legível; é id de API, não URL pública.",
            "nullable": true
          },
          "network": {
            "type": "string",
            "description": "Rede/emissora a que o canal pertence.",
            "nullable": true
          },
          "owners": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Quem opera o canal, segundo o iptv-org."
          },
          "launched": {
            "type": "string",
            "description": "Data de lançamento (AAAA-MM-DD).",
            "nullable": true
          },
          "replaced_by": {
            "type": "string",
            "description": "ID do canal que substituiu este, se foi descontinuado.",
            "nullable": true
          },
          "feed_name": {
            "type": "string",
            "description": "Nome do feed quando o canal tem mais de um.",
            "nullable": true
          },
          "feed_format": {
            "type": "string",
            "description": "Formato do feed declarado pela fonte.",
            "nullable": true
          },
          "timezones": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Fusos em que o canal transmite."
          },
          "broadcast_area": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Área de cobertura, em códigos do iptv-org."
          },
          "quality": {
            "type": "string",
            "description": "Melhor qualidade conhecida, ex. `1080p`."
          },
          "has_guide": {
            "type": "boolean",
            "description": "Se existe grade de programação (EPG) para este canal."
          },
          "guide_site": {
            "type": "string",
            "description": "Site de onde a grade vem.",
            "nullable": true
          },
          "guide_lang": {
            "type": "string",
            "description": "Idioma da grade de programação.",
            "nullable": true
          },
          "subdivision": {
            "type": "string",
            "description": "Estado/província, código do iptv-org.",
            "nullable": true
          },
          "city": {
            "type": "string",
            "description": "Cidade, código do iptv-org.",
            "nullable": true
          },
          "kind": {
            "type": "string",
            "description": "`tv` ou `radio` (estação do Radio Browser)."
          },
          "radio": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Radio"
              }
            ],
            "description": "Só em estação de rádio: tags, votos, cliques, codec, bitrate e localização."
          },
          "origem": {
            "type": "string",
            "description": "Fonte que trouxe o canal: `iptv-org` (o tronco) ou uma das listas creditadas em `/sobre`."
          },
          "guide_now": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GuiaAgora"
              }
            ],
            "description": "Só na ficha: agora e a seguir na programação de hoje, grabada por nós; `null` sem guia fresca.",
            "nullable": true
          },
          "health_ext": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SaudeMedida"
              }
            ],
            "description": "Saúde medida por terceiro (IPTV Nexus); `null` quando o canal não foi medido.",
            "nullable": true
          },
          "social": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Social"
              }
            ],
            "description": "Contadores da comunidade; ausente nas páginas HTML de SEO."
          },
          "api": {
            "type": "string",
            "description": "URL absoluta da ficha deste canal."
          },
          "streams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Stream"
            },
            "description": "Transmissões conhecidas, com a URL já apontando para o nosso hop."
          },
          "_links": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LinksCanal"
              }
            ],
            "description": "Esta ficha, a mesma coisa na interface humana e o índice da API."
          }
        },
        "required": [
          "id",
          "name",
          "alt_names",
          "country",
          "categories",
          "category_labels",
          "languages",
          "language_labels",
          "is_nsfw",
          "logo_url",
          "website",
          "slug",
          "network",
          "owners",
          "launched",
          "replaced_by",
          "feed_name",
          "feed_format",
          "timezones",
          "broadcast_area",
          "has_guide",
          "guide_site",
          "guide_lang",
          "subdivision",
          "city",
          "kind",
          "origem",
          "health_ext",
          "api",
          "streams",
          "_links"
        ],
        "description": "A ficha de um canal: tudo que a busca traz, mais os streams e os links relacionados."
      },
      "Stream": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID do stream; é o `:id` de `GET /api/s/:id`."
          },
          "feed": {
            "type": "string",
            "description": "Qual feed do canal este stream serve.",
            "nullable": true
          },
          "title": {
            "type": "string",
            "description": "Título do stream, quando a fonte declara.",
            "nullable": true
          },
          "url": {
            "type": "string",
            "description": "URL de reprodução no nosso hop — conta o play (uma vez por pessoa, canal e dia) e devolve a playlist."
          },
          "quality": {
            "type": "string",
            "description": "Qualidade declarada deste stream.",
            "nullable": true
          },
          "needs_headers": {
            "type": "boolean",
            "description": "Se a origem exige Referer/User-Agent — o hop cuida disso."
          },
          "label": {
            "type": "string",
            "description": "Rótulo curto para escolher entre streams.",
            "nullable": true
          },
          "scheme": {
            "type": "string",
            "description": "Esquema da URL de origem: `http`, `https`, ou `youtube` (transmissão no YouTube, tocável só pelo player do site, nunca pelo M3U)."
          },
          "kind": {
            "type": "string",
            "description": "Como tocar: `hls`, `dash`, `ts`, `flv`, `audio` (rádio contínua), `youtube` (player oficial embutido) ou `externo` (RTMP/RTSP)."
          },
          "youtube": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Youtube"
              }
            ],
            "description": "Só em stream do YouTube: ids e as URLs de embed e de assistir."
          },
          "playable_hint": {
            "type": "boolean",
            "description": "Se a última verificação achou este stream utilizável."
          },
          "origem": {
            "type": "string",
            "description": "Fonte que trouxe este stream: `iptv-org` ou uma das listas creditadas em `/sobre`."
          },
          "health_ext": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SaudeMedidaStream"
              }
            ],
            "description": "A sondagem mais recente deste stream pelo IPTV Nexus; `null` quando não foi medido.",
            "nullable": true
          }
        },
        "required": [
          "id",
          "feed",
          "title",
          "url",
          "quality",
          "needs_headers",
          "label",
          "scheme",
          "kind",
          "playable_hint",
          "origem",
          "health_ext"
        ],
        "description": "Uma das transmissões de um canal. A `url` já é o hop nosso, não a origem."
      },
      "Youtube": {
        "type": "object",
        "properties": {
          "video": {
            "type": "string",
            "description": "Id do vídeo da live (11 caracteres), quando a fonte deu um vídeo."
          },
          "channel": {
            "type": "string",
            "description": "Id do canal (`UC…`), quando a fonte deu o canal: o embed abre a live corrente."
          },
          "embed": {
            "type": "string",
            "description": "URL do embed oficial sem cookies (`youtube-nocookie.com`)."
          },
          "assistir": {
            "type": "string",
            "description": "URL para abrir no YouTube (botão do player e destino do hop)."
          }
        },
        "required": [
          "embed",
          "assistir"
        ],
        "description": "Um stream que é uma live do YouTube: o player embute o oficial; M3U/XSPF não o levam."
      },
      "SaudeMedidaStream": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "`online`, `offline`, `blocked` (geo), `timeout`, `error` ou `unknown`."
          },
          "score": {
            "type": "integer",
            "description": "0–100, média móvel: uma falha só não derruba o stream.",
            "nullable": true
          },
          "checked_at": {
            "type": "string",
            "description": "Instante (ISO-8601) da sondagem gravada; regravado quando o status ou o score mudam, ou a cada 7 dias.",
            "nullable": true
          },
          "resolution": {
            "type": "string",
            "description": "Resolução vista pelo ffprobe, ex. `1080p`.",
            "nullable": true
          },
          "bitrate": {
            "type": "integer",
            "description": "Bitrate em bits por segundo, quando medido.",
            "nullable": true
          },
          "latency_ms": {
            "type": "integer",
            "description": "Tempo até o primeiro byte na sondagem, em ms.",
            "nullable": true
          }
        },
        "required": [
          "status",
          "score",
          "checked_at",
          "resolution",
          "bitrate",
          "latency_ms"
        ],
        "description": "A sondagem mais recente deste stream pelo IPTV Nexus; `null` quando o stream não foi medido."
      },
      "LinksCanal": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "description": "Esta mesma ficha em JSON."
          },
          "app": {
            "type": "string",
            "description": "A mesma coisa na interface humana."
          },
          "api_index": {
            "type": "string",
            "description": "Índice auto-descrito da API."
          }
        },
        "required": [
          "self",
          "app",
          "api_index"
        ],
        "description": "URLs relacionadas, para o agente não montar caminho na mão."
      },
      "SaudeCanal": {
        "type": "object",
        "properties": {
          "channel_id": {
            "type": "string",
            "description": "Canal a que esta saúde se refere."
          },
          "plays": {
            "type": "integer",
            "description": "Relatos de sucesso, no mundo todo."
          },
          "fails": {
            "type": "integer",
            "description": "Relatos de falha, no mundo todo."
          },
          "favorites": {
            "type": "integer",
            "description": "Quantas pessoas favoritaram o canal."
          },
          "comments": {
            "type": "integer",
            "description": "Comentários públicos no canal."
          },
          "health": {
            "type": "integer",
            "description": "Percentual de sucesso; `null` com menos de `min_relatos`.",
            "nullable": true
          },
          "last_ok_at": {
            "type": "string",
            "description": "Último relato de sucesso (UTC).",
            "nullable": true
          },
          "last_fail_at": {
            "type": "string",
            "description": "Último relato de falha (UTC).",
            "nullable": true
          },
          "last_fail_code": {
            "type": "string",
            "description": "Código da falha mais recente.",
            "nullable": true
          },
          "min_relatos": {
            "type": "integer",
            "description": "Quantos relatos são necessários antes de calcular `health`."
          },
          "reasons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MotivoFalha"
            },
            "description": "Por que falhou, do motivo mais comum para o menos."
          },
          "environments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ambiente"
            },
            "description": "O mesmo canal por navegador, sistema e país."
          },
          "your_environment": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Ambiente"
              }
            ],
            "description": "O recorte de QUEM ESTÁ CHAMANDO, deduzido do User-Agent e da borda."
          },
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RegiaoSaude"
            },
            "description": "O mesmo canal agregado por PAÍS — onde falha e onde funciona."
          },
          "geo": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GeoCanal"
              }
            ],
            "description": "Veredito do bloqueio: geo-restrito (falha numas regiões, funciona noutras) ou fora do ar (falha em todas)."
          },
          "latency": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LatenciaPais"
            },
            "description": "Quão rápido a playlist abre, por país — medido no hop `/api/s/:id`."
          },
          "your_country": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RegiaoSaude"
              }
            ],
            "description": "O recorte do PAÍS de quem está chamando, com a latência da borda dele."
          },
          "pra_voce": {
            "type": "string",
            "description": "Veredito final para quem está chamando: `geo_bloqueado`, `lenta`, `instavel`, `boa` ou `sem_dado`."
          },
          "codes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Todos os códigos de falha que o produto reconhece."
          },
          "_links": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LinksSaude"
              }
            ],
            "description": "Esta saúde, o canal e onde relatar."
          }
        },
        "required": [
          "channel_id",
          "plays",
          "fails",
          "favorites",
          "comments",
          "health",
          "last_ok_at",
          "last_fail_at",
          "last_fail_code",
          "min_relatos",
          "reasons",
          "environments",
          "your_environment",
          "regions",
          "geo",
          "latency",
          "your_country",
          "pra_voce",
          "codes",
          "_links"
        ],
        "description": "Por que um canal falha e para quem — o que separa 'está fora do ar' de 'está bloqueado no seu país'."
      },
      "MotivoFalha": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Código: `cors`, `geo`, `sumiu`, `codec`, `playlist`, `sem_resposta`, `protocolo`, `sem_stream`, `outro`."
          },
          "label": {
            "type": "string",
            "description": "O motivo em uma frase curta."
          },
          "hint": {
            "type": "string",
            "description": "O que a pessoa pode fazer a respeito."
          },
          "count": {
            "type": "integer",
            "description": "Quantos relatos trouxeram este código."
          },
          "last_at": {
            "type": "string",
            "description": "Relato mais recente com este código (UTC).",
            "nullable": true
          }
        },
        "required": [
          "code",
          "label",
          "hint",
          "count",
          "last_at"
        ],
        "description": "Um motivo de falha agregado, já com o texto que a interface mostra."
      },
      "Ambiente": {
        "type": "object",
        "properties": {
          "browser": {
            "type": "string",
            "description": "Navegador normalizado, ex. `Chrome`; `Outro` quando não dá para dizer."
          },
          "os": {
            "type": "string",
            "description": "Sistema normalizado, ex. `Android`."
          },
          "country": {
            "type": "string",
            "description": "País de quem relatou, alpha-2."
          },
          "label": {
            "type": "string",
            "description": "Os três acima numa frase, para exibir."
          },
          "plays": {
            "type": "integer",
            "description": "Relatos de sucesso neste ambiente."
          },
          "fails": {
            "type": "integer",
            "description": "Relatos de falha neste ambiente."
          },
          "health": {
            "type": "integer",
            "description": "Percentual de sucesso aqui; `null` sem relato bastante.",
            "nullable": true
          },
          "last_fail_code": {
            "type": "string",
            "description": "Código da última falha neste ambiente.",
            "nullable": true
          },
          "last_at": {
            "type": "string",
            "description": "Relato mais recente neste ambiente (UTC).",
            "nullable": true
          }
        },
        "required": [
          "browser",
          "os",
          "country",
          "label",
          "plays",
          "fails",
          "health",
          "last_fail_code",
          "last_at"
        ],
        "description": "O comportamento do canal num navegador, sistema e país específicos."
      },
      "RegiaoSaude": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "description": "País, alpha-2; `ZZ` quando a borda não disse."
          },
          "plays": {
            "type": "integer",
            "description": "Relatos de sucesso neste país."
          },
          "fails": {
            "type": "integer",
            "description": "Relatos de falha neste país."
          },
          "health": {
            "type": "integer",
            "description": "Percentual de sucesso aqui; `null` sem relato bastante.",
            "nullable": true
          },
          "latency_ms": {
            "type": "integer",
            "description": "Latência média da playlist medida na borda deste país; só em `your_country`.",
            "nullable": true
          },
          "latency_grade": {
            "type": "string",
            "description": "Nota da latência: `otima`, `boa`, `lenta` ou `ruim`; só em `your_country`.",
            "nullable": true
          }
        },
        "required": [
          "country",
          "plays",
          "fails",
          "health",
          "latency_ms",
          "latency_grade"
        ],
        "description": "O comportamento do canal num país — sem quebrar por navegador/SO."
      },
      "GeoCanal": {
        "type": "object",
        "properties": {
          "tipo": {
            "type": "string",
            "description": "`geo` (falha numa região, funciona noutra), `down` (falha em toda região medida), `ok` ou `unknown` (sem relato suficiente)."
          },
          "bloqueado_em": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Regiões onde só há relato de falha (teto de 8; `ZZ` = país desconhecido)."
          },
          "funciona_em": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Países com pelo menos um sucesso (teto de 8)."
          },
          "label": {
            "type": "string",
            "description": "O veredito em uma frase; vazio quando não há o que dizer."
          }
        },
        "required": [
          "tipo",
          "bloqueado_em",
          "funciona_em",
          "label"
        ],
        "description": "O que separa 'está bloqueado onde eu moro' de 'saiu do ar para todo mundo'."
      },
      "LatenciaPais": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "description": "País onde a medição aconteceu, alpha-2."
          },
          "samples": {
            "type": "integer",
            "description": "Quantas aberturas entraram na média."
          },
          "avg_ms": {
            "type": "integer",
            "description": "Tempo médio até a playlist chegar, em milissegundos."
          },
          "grade": {
            "type": "string",
            "description": "`otima` (<600ms), `boa` (<1500ms), `lenta` (<3500ms) ou `ruim`."
          },
          "grade_label": {
            "type": "string",
            "description": "A nota em uma palavra, para exibir."
          },
          "last_at": {
            "type": "string",
            "description": "Última medição (UTC).",
            "nullable": true
          }
        },
        "required": [
          "country",
          "samples",
          "avg_ms",
          "grade",
          "grade_label",
          "last_at"
        ],
        "description": "Quanto tempo a playlist leva para abrir, medido na borda do país — a Grade busca a origem por você, então sabe."
      },
      "LinksSaude": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "description": "Este mesmo painel."
          },
          "channel": {
            "type": "string",
            "description": "Ficha do canal."
          },
          "report": {
            "type": "string",
            "description": "Onde mandar um relato novo."
          }
        },
        "required": [
          "self",
          "channel",
          "report"
        ],
        "description": "Endereços relacionados ao painel de saúde."
      },
      "GuiaDoDia": {
        "type": "object",
        "properties": {
          "channel_id": {
            "type": "string",
            "description": "ID do canal no iptv-org."
          },
          "day": {
            "type": "string",
            "description": "Dia grabado, YYYY-MM-DD."
          },
          "site": {
            "type": "string",
            "description": "Site de programação de origem.",
            "nullable": true
          },
          "agora": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Programa"
              }
            ],
            "description": "O programa no ar neste instante.",
            "nullable": true
          },
          "a_seguir": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Programa"
              }
            ],
            "description": "O próximo programa.",
            "nullable": true
          },
          "programas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Programa"
            },
            "description": "Todos os programas do dia, em ordem (até 200)."
          }
        },
        "required": [
          "channel_id",
          "day",
          "site",
          "agora",
          "a_seguir",
          "programas"
        ],
        "description": "A guia inteira do dia de um canal, grabada por nós (iptv-org/epg no c3)."
      },
      "Geo": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "description": "País a usar; cai em `BR` quando a borda não informa."
          },
          "detected": {
            "type": "string",
            "description": "O que a borda realmente detectou; `null` se nada.",
            "nullable": true
          },
          "language": {
            "type": "string",
            "description": "Idioma a usar; cai em `por` sem detecção."
          },
          "language_detected": {
            "type": "string",
            "description": "Idioma realmente detectado.",
            "nullable": true
          },
          "source": {
            "type": "string",
            "description": "`cf` quando veio da borda, `fallback` quando é o padrão."
          },
          "api": {
            "type": "string",
            "description": "URL absoluta desta rota."
          }
        },
        "required": [
          "country",
          "detected",
          "language",
          "language_detected",
          "source",
          "api"
        ],
        "description": "País e idioma sugeridos pela borda da Cloudflare para quem está chamando."
      },
      "ListaPais": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Pais"
            },
            "description": "Todos os itens; estas rotas não paginam."
          }
        },
        "required": [
          "items"
        ],
        "description": "Coleção pequena e completa — faceta de catálogo, que cabe inteira numa resposta."
      },
      "Pais": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2, ex. `BR`."
          },
          "name": {
            "type": "string",
            "description": "Nome do país."
          },
          "count": {
            "type": "integer",
            "description": "Canais tocáveis deste país."
          },
          "flag": {
            "type": "string",
            "description": "URL do SVG da bandeira, servido por nós."
          }
        },
        "required": [
          "code",
          "name",
          "count",
          "flag"
        ],
        "description": "País com canal tocável no catálogo."
      },
      "ListaTag": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            },
            "description": "Todos os itens; estas rotas não paginam."
          }
        },
        "required": [
          "items"
        ],
        "description": "Coleção pequena e completa — faceta de catálogo, que cabe inteira numa resposta."
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A tag como está na fonte, em minúsculas (ex. `mpb`)."
          },
          "name": {
            "type": "string",
            "description": "O mesmo texto, para exibir."
          },
          "count": {
            "type": "integer",
            "description": "Estações tocáveis com esta tag no recorte pedido."
          }
        },
        "required": [
          "id",
          "name",
          "count"
        ],
        "description": "Tag de estação de rádio, vocabulário livre do Radio Browser, com a contagem no recorte."
      },
      "ListaCategoria": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Categoria"
            },
            "description": "Todos os itens; estas rotas não paginam."
          }
        },
        "required": [
          "items"
        ],
        "description": "Coleção pequena e completa — faceta de catálogo, que cabe inteira numa resposta."
      },
      "Categoria": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID da categoria, ex. `movies`."
          },
          "name": {
            "type": "string",
            "description": "Nome para exibição."
          },
          "description": {
            "type": "string",
            "description": "O que a categoria abrange, segundo a fonte.",
            "nullable": true
          },
          "icon": {
            "type": "string",
            "description": "Nome do ícone usado na interface.",
            "nullable": true
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "icon"
        ],
        "description": "Categoria do vocabulário do iptv-org, sem contagem."
      },
      "ListaIdioma": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Idioma"
            },
            "description": "Todos os itens; estas rotas não paginam."
          }
        },
        "required": [
          "items"
        ],
        "description": "Coleção pequena e completa — faceta de catálogo, que cabe inteira numa resposta."
      },
      "Idioma": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "ISO 639-3, ex. `por`."
          },
          "name": {
            "type": "string",
            "description": "Nome do idioma."
          },
          "count": {
            "type": "integer",
            "description": "Canais tocáveis neste idioma."
          }
        },
        "required": [
          "code",
          "name",
          "count"
        ],
        "description": "Idioma com canal tocável."
      },
      "ListaRede": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Rede"
            },
            "description": "Todos os itens; estas rotas não paginam."
          }
        },
        "required": [
          "items"
        ],
        "description": "Coleção pequena e completa — faceta de catálogo, que cabe inteira numa resposta."
      },
      "Rede": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Nome da rede, ex. `Globo`."
          },
          "count": {
            "type": "integer",
            "description": "Canais tocáveis desta rede."
          }
        },
        "required": [
          "name",
          "count"
        ],
        "description": "Rede/emissora com canal tocável."
      },
      "ListaQualidade": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Qualidade"
            },
            "description": "Todos os itens; estas rotas não paginam."
          }
        },
        "required": [
          "items"
        ],
        "description": "Coleção pequena e completa — faceta de catálogo, que cabe inteira numa resposta."
      },
      "Qualidade": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A qualidade em si, ex. `1080p`."
          },
          "name": {
            "type": "string",
            "description": "Mesmo valor, para exibição."
          },
          "count": {
            "type": "integer",
            "description": "Streams nesta qualidade."
          }
        },
        "required": [
          "id",
          "name",
          "count"
        ],
        "description": "Qualidade distinta encontrada nos streams."
      },
      "ListaSubdivisao": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subdivisao"
            },
            "description": "Todos os itens; estas rotas não paginam."
          }
        },
        "required": [
          "items"
        ],
        "description": "Coleção pequena e completa — faceta de catálogo, que cabe inteira numa resposta."
      },
      "Subdivisao": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Código do iptv-org, ex. `BR-SP`."
          },
          "country": {
            "type": "string",
            "description": "País a que pertence, alpha-2."
          },
          "name": {
            "type": "string",
            "description": "Nome da subdivisão."
          },
          "count": {
            "type": "integer",
            "description": "Canais tocáveis nela."
          }
        },
        "required": [
          "code",
          "country",
          "name",
          "count"
        ],
        "description": "Estado/província com canal tocável."
      },
      "ListaCidade": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cidade"
            },
            "description": "Todos os itens; estas rotas não paginam."
          }
        },
        "required": [
          "items"
        ],
        "description": "Coleção pequena e completa — faceta de catálogo, que cabe inteira numa resposta."
      },
      "Cidade": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Código do iptv-org."
          },
          "country": {
            "type": "string",
            "description": "País, alpha-2."
          },
          "subdivision": {
            "type": "string",
            "description": "Subdivisão a que a cidade pertence.",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "Nome da cidade."
          },
          "count": {
            "type": "integer",
            "description": "Canais tocáveis nela."
          }
        },
        "required": [
          "code",
          "country",
          "subdivision",
          "name",
          "count"
        ],
        "description": "Cidade com canal tocável."
      },
      "Chave": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID da chave, para revogar."
          },
          "masked": {
            "type": "string",
            "description": "Prefixo e últimos 4 dígitos, ex. `iptk_…a1b2`."
          },
          "label": {
            "type": "string",
            "description": "Rótulo que o dono deu para lembrar onde usou.",
            "nullable": true
          },
          "revoked": {
            "type": "boolean",
            "description": "Se já foi revogada — a linha fica, para o histórico."
          },
          "created_at": {
            "type": "string",
            "description": "Quando foi criada (UTC)."
          }
        },
        "required": [
          "id",
          "masked",
          "label",
          "revoked",
          "created_at"
        ],
        "description": "API key do dono, sempre mascarada. O texto completo só aparece na criação."
      },
      "Ok": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "Sempre `true` — a falha vem como status 4xx/5xx, não como `ok:false`."
          }
        },
        "required": [
          "ok"
        ],
        "description": "Confirmação de escrita que não tem corpo próprio a devolver."
      },
      "Biblioteca": {
        "type": "object",
        "properties": {
          "owner": {
            "type": "string",
            "description": "Rótulo derivado do dono desta árvore — estável enquanto o feed for o mesmo, e não reversível. NÃO é o token de convidado: publicá-lo aqui faria uma API key delegada escalar para a credencial mestra, que não tem revogação."
          },
          "feeds": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Feeds"
              }
            ],
            "description": "Feeds da biblioteca inteira, em quatro formatos."
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PastaBiblioteca"
            },
            "description": "As pastas do dono, na ordem que ele arrumou."
          }
        },
        "required": [
          "owner",
          "feeds",
          "categories"
        ],
        "description": "A galeria inteira do dono: pastas, sub-abas, canais e as URLs de feed de cada nível."
      },
      "Feeds": {
        "type": "object",
        "properties": {
          "m3u": {
            "type": "string",
            "description": "Playlist M3U — é o que se cola no VLC."
          },
          "m3u8": {
            "type": "string",
            "description": "Mesma playlist, extensão `.m3u8` para players que só aceitam ela."
          },
          "json": {
            "type": "string",
            "description": "Mesma lista em JSON, para quem programa em cima."
          },
          "xspf": {
            "type": "string",
            "description": "Mesma lista em XSPF, para players que preferem XML."
          }
        },
        "required": [
          "m3u",
          "m3u8",
          "json",
          "xspf"
        ],
        "description": "O mesmo conteúdo em quatro formatos. São URLs públicas, com o token do feed no caminho — quem tem o link tem o conteúdo."
      },
      "PastaBiblioteca": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID da pasta, `cat_…`."
          },
          "name": {
            "type": "string",
            "description": "Nome que o dono deu."
          },
          "slug": {
            "type": "string",
            "description": "Versão do nome usada na URL do feed."
          },
          "sort": {
            "type": "integer",
            "description": "Posição na ordenação do dono."
          },
          "last_group_id": {
            "type": "string",
            "description": "Sub-aba aberta por último — é o que devolve a pessoa ao lugar onde parou.",
            "nullable": true
          },
          "api": {
            "type": "string",
            "description": "URL absoluta desta pasta."
          },
          "feeds": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Feeds"
              }
            ],
            "description": "Feeds só desta pasta."
          },
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubAba"
            },
            "description": "Sub-abas dentro da pasta."
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "sort",
          "last_group_id",
          "api",
          "feeds",
          "groups"
        ],
        "description": "Pasta (aba principal) da galeria do dono."
      },
      "SubAba": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID da sub-aba, `grp_…`."
          },
          "name": {
            "type": "string",
            "description": "Nome que o dono deu."
          },
          "slug": {
            "type": "string",
            "description": "Versão do nome usada na URL do feed."
          },
          "sort": {
            "type": "integer",
            "description": "Posição na ordenação dentro da pasta."
          },
          "last_item_id": {
            "type": "string",
            "description": "Último canal tocado nesta sub-aba.",
            "nullable": true
          },
          "api": {
            "type": "string",
            "description": "URL absoluta desta sub-aba."
          },
          "feeds": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Feeds"
              }
            ],
            "description": "Feeds só desta sub-aba."
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ItemBiblioteca"
            },
            "description": "Canais colocados aqui, na ordem do dono."
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "sort",
          "last_item_id",
          "api",
          "feeds",
          "items"
        ],
        "description": "Sub-aba dentro de uma pasta; é o nível que agrupa os canais."
      },
      "ItemBiblioteca": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID do item na biblioteca, `itm_…`."
          },
          "channel_id": {
            "type": "string",
            "description": "ID do canal no catálogo, ex. `Globo.br`."
          },
          "stream_id": {
            "type": "string",
            "description": "Stream escolhido para este item.",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "Nome do canal; cai no `channel_id` se o canal sumiu do catálogo."
          },
          "logo_url": {
            "type": "string",
            "description": "Logo servido por nós.",
            "nullable": true
          },
          "url": {
            "type": "string",
            "description": "URL de reprodução no hop; `null` quando o stream sumiu.",
            "nullable": true
          },
          "quality": {
            "type": "string",
            "description": "Qualidade do stream escolhido.",
            "nullable": true
          },
          "kind": {
            "type": "string",
            "description": "Tipo de mídia: `hls`, `mpd`, `mp4`…"
          },
          "playable_hint": {
            "type": "boolean",
            "description": "Se a última verificação achou o stream utilizável."
          },
          "stale": {
            "type": "boolean",
            "description": "`true` quando o canal ou o stream sumiu da fonte — o item fica, sem tocar."
          },
          "sort": {
            "type": "integer",
            "description": "Posição dentro da sub-aba."
          }
        },
        "required": [
          "id",
          "channel_id",
          "stream_id",
          "name",
          "logo_url",
          "url",
          "quality",
          "kind",
          "playable_hint",
          "stale",
          "sort"
        ],
        "description": "Um canal dentro de uma sub-aba, com o stream já escolhido."
      },
      "BibliotecaComPasta": {
        "type": "object",
        "properties": {
          "owner": {
            "type": "string",
            "description": "Rótulo derivado do dono desta árvore — estável enquanto o feed for o mesmo, e não reversível. NÃO é o token de convidado: publicá-lo aqui faria uma API key delegada escalar para a credencial mestra, que não tem revogação."
          },
          "feeds": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Feeds"
              }
            ],
            "description": "Feeds da biblioteca inteira, em quatro formatos."
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PastaBiblioteca"
            },
            "description": "As pastas do dono, na ordem que ele arrumou."
          },
          "id": {
            "type": "string",
            "description": "ID da pasta criada, `cat_…`."
          },
          "name": {
            "type": "string",
            "description": "Nome da pasta criada."
          },
          "slug": {
            "type": "string",
            "description": "Slug da pasta — é o que entra na URL do feed dela."
          },
          "group_id": {
            "type": "string",
            "description": "ID da sub-aba Geral, criada junto com a pasta."
          }
        },
        "required": [
          "owner",
          "feeds",
          "categories",
          "id",
          "name",
          "slug",
          "group_id"
        ],
        "description": "A biblioteca inteira mais os ids da pasta que acabou de ser criada."
      },
      "BibliotecaComSubAba": {
        "type": "object",
        "properties": {
          "owner": {
            "type": "string",
            "description": "Rótulo derivado do dono desta árvore — estável enquanto o feed for o mesmo, e não reversível. NÃO é o token de convidado: publicá-lo aqui faria uma API key delegada escalar para a credencial mestra, que não tem revogação."
          },
          "feeds": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Feeds"
              }
            ],
            "description": "Feeds da biblioteca inteira, em quatro formatos."
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PastaBiblioteca"
            },
            "description": "As pastas do dono, na ordem que ele arrumou."
          },
          "id": {
            "type": "string",
            "description": "ID da sub-aba criada, `grp_…`."
          },
          "name": {
            "type": "string",
            "description": "Nome da sub-aba criada."
          },
          "slug": {
            "type": "string",
            "description": "Slug da sub-aba — entra na URL do feed dela."
          },
          "category_id": {
            "type": "string",
            "description": "Pasta que recebeu a sub-aba."
          }
        },
        "required": [
          "owner",
          "feeds",
          "categories",
          "id",
          "name",
          "slug",
          "category_id"
        ],
        "description": "A biblioteca inteira mais os ids da sub-aba que acabou de ser criada."
      },
      "BibliotecaComItem": {
        "type": "object",
        "properties": {
          "owner": {
            "type": "string",
            "description": "Rótulo derivado do dono desta árvore — estável enquanto o feed for o mesmo, e não reversível. NÃO é o token de convidado: publicá-lo aqui faria uma API key delegada escalar para a credencial mestra, que não tem revogação."
          },
          "feeds": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Feeds"
              }
            ],
            "description": "Feeds da biblioteca inteira, em quatro formatos."
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PastaBiblioteca"
            },
            "description": "As pastas do dono, na ordem que ele arrumou."
          },
          "id": {
            "type": "string",
            "description": "ID do item criado, `itm_…`."
          },
          "group_id": {
            "type": "string",
            "description": "Sub-aba que recebeu o canal."
          },
          "category_id": {
            "type": "string",
            "description": "Pasta a que essa sub-aba pertence."
          }
        },
        "required": [
          "owner",
          "feeds",
          "categories",
          "id",
          "group_id",
          "category_id"
        ],
        "description": "A biblioteca inteira mais onde o canal caiu — para a tela abrir na sub-aba certa."
      },
      "PaginaDeHistorico": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Visita"
            },
            "description": "Os itens desta página, na ordem que a rota define."
          },
          "total": {
            "type": "integer",
            "description": "Quantos itens casam com o filtro, ignorando a paginação."
          },
          "limit": {
            "type": "integer",
            "description": "Tamanho de página efetivamente aplicado (pode ser menor que o pedido)."
          },
          "offset": {
            "type": "integer",
            "description": "Deslocamento aplicado nesta página."
          },
          "next_offset": {
            "type": "integer",
            "description": "Offset da próxima página; `null` quando esta é a última.",
            "nullable": true
          },
          "api": {
            "type": "string",
            "description": "URL absoluta desta própria listagem."
          },
          "max": {
            "type": "integer",
            "description": "Quantos canais o histórico guarda no máximo."
          }
        },
        "required": [
          "items",
          "total",
          "limit",
          "offset",
          "next_offset",
          "api",
          "max"
        ],
        "description": "Página do histórico do dono. `max` é o teto de linhas guardadas — passou disso, a mais antiga sai."
      },
      "Visita": {
        "type": "object",
        "properties": {
          "channel_id": {
            "type": "string",
            "description": "ID do canal assistido."
          },
          "name": {
            "type": "string",
            "description": "Nome do canal; cai no ID se ele saiu do catálogo."
          },
          "country": {
            "type": "string",
            "description": "País do canal.",
            "nullable": true
          },
          "logo_url": {
            "type": "string",
            "description": "Logo servido por nós.",
            "nullable": true
          },
          "is_nsfw": {
            "type": "boolean",
            "description": "Conteúdo adulto — some da lista sem consentimento 18+."
          },
          "playable_hint": {
            "type": "boolean",
            "description": "Se a última verificação achou stream utilizável."
          },
          "plays": {
            "type": "integer",
            "description": "Quantas vezes o dono assistiu este canal."
          },
          "first_at": {
            "type": "string",
            "description": "Primeira vez que assistiu (UTC)."
          },
          "last_at": {
            "type": "string",
            "description": "Última vez que assistiu (UTC)."
          },
          "stale": {
            "type": "boolean",
            "description": "`true` quando o canal não existe mais no catálogo."
          },
          "api": {
            "type": "string",
            "description": "URL absoluta da ficha do canal."
          }
        },
        "required": [
          "channel_id",
          "name",
          "country",
          "logo_url",
          "is_nsfw",
          "playable_hint",
          "plays",
          "first_at",
          "last_at",
          "stale",
          "api"
        ],
        "description": "Um canal no histórico do dono, com quantas vezes ele assistiu."
      },
      "Consentimento": {
        "type": "object",
        "properties": {
          "consented": {
            "type": "boolean",
            "description": "Se o consentimento vale agora, na versão corrente dos termos."
          },
          "terms_version": {
            "type": "string",
            "description": "Versão dos termos em vigor hoje."
          },
          "min_age": {
            "type": "integer",
            "description": "Idade mínima exigida."
          },
          "confirmed_at": {
            "type": "string",
            "description": "Quando o dono aceitou; só aparece com consentimento válido."
          },
          "accepted_version": {
            "type": "string",
            "description": "Versão que ele aceitou; só com consentimento válido."
          },
          "stale_version": {
            "type": "string",
            "description": "Versão antiga aceita, quando os termos mudaram e ele precisa reaceitar."
          }
        },
        "required": [
          "consented",
          "terms_version",
          "min_age"
        ],
        "description": "Estado do portão adulto do dono. Sem consentimento válido, canal NSFW responde 403."
      },
      "Passe": {
        "type": "object",
        "properties": {
          "active": {
            "type": "boolean",
            "description": "Se o passe vale neste momento."
          },
          "until": {
            "type": "string",
            "description": "Até quando vale (UTC); `null` quando não há passe.",
            "nullable": true
          }
        },
        "required": [
          "active",
          "until"
        ],
        "description": "Passe mensal — do chat ou de conteúdo adulto. São contas separadas, mesmo formato."
      },
      "PaginaDeRelatos": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Relato"
            },
            "description": "Os relatos, do mais recente para o mais antigo."
          },
          "limit": {
            "type": "integer",
            "description": "Tamanho de página aplicado."
          },
          "offset": {
            "type": "integer",
            "description": "Deslocamento aplicado."
          },
          "next_offset": {
            "type": "integer",
            "description": "Offset da próxima página; `null` quando acabou.",
            "nullable": true
          },
          "retention_days": {
            "type": "integer",
            "description": "Depois de quantos dias a linha é apagada."
          },
          "filters": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FiltrosRelato"
              }
            ],
            "description": "Os filtros como o servidor os entendeu."
          },
          "api": {
            "type": "string",
            "description": "URL absoluta desta listagem."
          }
        },
        "required": [
          "items",
          "limit",
          "offset",
          "next_offset",
          "retention_days",
          "filters",
          "api"
        ],
        "description": "Página de relatos crus. Não tem `total` de propósito: contar a tabela inteira a cada consulta de investigação sai caro e não muda a decisão de quem investiga."
      },
      "Relato": {
        "type": "object",
        "properties": {
          "channel_id": {
            "type": "string",
            "description": "Canal que a pessoa tentou assistir."
          },
          "ok": {
            "type": "boolean",
            "description": "Se tocou (`true`) ou falhou (`false`)."
          },
          "code": {
            "type": "string",
            "description": "Código da falha, quando falhou.",
            "nullable": true
          },
          "ip": {
            "type": "string",
            "description": "Endereço de quem relatou. Nunca aparece no painel público.",
            "nullable": true
          },
          "browser": {
            "type": "string",
            "description": "Navegador deduzido do User-Agent.",
            "nullable": true
          },
          "os": {
            "type": "string",
            "description": "Sistema deduzido do User-Agent.",
            "nullable": true
          },
          "country": {
            "type": "string",
            "description": "País deduzido pela borda.",
            "nullable": true
          },
          "day": {
            "type": "string",
            "description": "Dia do relato (AAAA-MM-DD) — a contagem é uma por dono, canal e dia."
          },
          "at": {
            "type": "string",
            "description": "Momento exato do relato (UTC)."
          }
        },
        "required": [
          "channel_id",
          "ok",
          "code",
          "ip",
          "browser",
          "os",
          "country",
          "day",
          "at"
        ],
        "description": "Relato cru de reprodução, com endereço — por isso a rota é só de operador e a linha expira."
      },
      "FiltrosRelato": {
        "type": "object",
        "properties": {
          "channel_id": {
            "type": "string",
            "description": "Canal filtrado, ou `null` para todos.",
            "nullable": true
          },
          "only_failures": {
            "type": "boolean",
            "description": "Se só as falhas entraram."
          }
        },
        "required": [
          "channel_id",
          "only_failures"
        ],
        "description": "O que o servidor entendeu do filtro de relatos."
      },
      "PaginaDeFavoritos": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Favorito"
            },
            "description": "Os itens desta página, na ordem que a rota define."
          },
          "total": {
            "type": "integer",
            "description": "Quantos itens casam com o filtro, ignorando a paginação."
          },
          "limit": {
            "type": "integer",
            "description": "Tamanho de página efetivamente aplicado (pode ser menor que o pedido)."
          },
          "offset": {
            "type": "integer",
            "description": "Deslocamento aplicado nesta página."
          },
          "next_offset": {
            "type": "integer",
            "description": "Offset da próxima página; `null` quando esta é a última.",
            "nullable": true
          },
          "api": {
            "type": "string",
            "description": "URL absoluta desta própria listagem."
          },
          "max": {
            "type": "integer",
            "description": "Quantos favoritos o dono pode ter."
          }
        },
        "required": [
          "items",
          "total",
          "limit",
          "offset",
          "next_offset",
          "api",
          "max"
        ],
        "description": "Página dos favoritos do dono, com o teto de quantos cabem."
      },
      "Favorito": {
        "type": "object",
        "properties": {
          "channel_id": {
            "type": "string",
            "description": "ID do canal favoritado."
          },
          "name": {
            "type": "string",
            "description": "Nome do canal; cai no ID se ele saiu do catálogo."
          },
          "country": {
            "type": "string",
            "description": "País do canal.",
            "nullable": true
          },
          "quality": {
            "type": "string",
            "description": "Melhor qualidade conhecida.",
            "nullable": true
          },
          "logo_url": {
            "type": "string",
            "description": "Logo servido por nós.",
            "nullable": true
          },
          "is_nsfw": {
            "type": "boolean",
            "description": "Conteúdo adulto — some da lista sem consentimento 18+."
          },
          "playable_hint": {
            "type": "boolean",
            "description": "Se a última verificação achou stream utilizável."
          },
          "favorites": {
            "type": "integer",
            "description": "Quantas pessoas favoritaram este canal ao todo."
          },
          "created_at": {
            "type": "string",
            "description": "Quando o dono favoritou (UTC)."
          },
          "stale": {
            "type": "boolean",
            "description": "`true` quando o canal não existe mais no catálogo."
          },
          "api": {
            "type": "string",
            "description": "URL absoluta da ficha do canal."
          }
        },
        "required": [
          "channel_id",
          "name",
          "country",
          "quality",
          "logo_url",
          "is_nsfw",
          "playable_hint",
          "favorites",
          "created_at",
          "stale",
          "api"
        ],
        "description": "Um canal favoritado pelo dono."
      },
      "PaginaDeComentarios": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Comentario"
            },
            "description": "Os itens desta página, na ordem que a rota define."
          },
          "total": {
            "type": "integer",
            "description": "Quantos itens casam com o filtro, ignorando a paginação."
          },
          "limit": {
            "type": "integer",
            "description": "Tamanho de página efetivamente aplicado (pode ser menor que o pedido)."
          },
          "offset": {
            "type": "integer",
            "description": "Deslocamento aplicado nesta página."
          },
          "next_offset": {
            "type": "integer",
            "description": "Offset da próxima página; `null` quando esta é a última.",
            "nullable": true
          },
          "api": {
            "type": "string",
            "description": "URL absoluta desta própria listagem."
          },
          "channel_id": {
            "type": "string",
            "description": "Canal a que os comentários pertencem."
          },
          "max_length": {
            "type": "integer",
            "description": "Tamanho máximo de um comentário novo."
          }
        },
        "required": [
          "items",
          "total",
          "limit",
          "offset",
          "next_offset",
          "api",
          "channel_id",
          "max_length"
        ],
        "description": "Página de comentários de um canal, com o teto de tamanho de quem for escrever a seguir."
      },
      "Comentario": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID do comentário, para apagar."
          },
          "channel_id": {
            "type": "string",
            "description": "Canal em que o comentário foi escrito."
          },
          "author": {
            "type": "string",
            "description": "Apelido de quem escreveu; `Visitante` quando não informado."
          },
          "body": {
            "type": "string",
            "description": "O texto do comentário."
          },
          "created_at": {
            "type": "string",
            "description": "Quando foi escrito (UTC, com milissegundos)."
          },
          "mine": {
            "type": "boolean",
            "description": "`true` se é seu — só você pode apagar."
          },
          "api": {
            "type": "string",
            "description": "URL absoluta deste comentário."
          }
        },
        "required": [
          "id",
          "channel_id",
          "author",
          "body",
          "created_at",
          "mine",
          "api"
        ],
        "description": "Comentário público num canal."
      },
      "MensagemChat": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID da mensagem dentro da sala."
          },
          "autor": {
            "type": "string",
            "description": "Apelido de quem mandou — estável por dono, gerado se não informado."
          },
          "body": {
            "type": "string",
            "description": "O texto da mensagem."
          },
          "at": {
            "type": "string",
            "description": "Quando foi mandada (UTC)."
          }
        },
        "required": [
          "id",
          "autor",
          "body",
          "at"
        ],
        "description": "Mensagem da sala de chat de um canal."
      },
      "LinksChat": {
        "type": "object",
        "properties": {
          "self": {
            "type": "string",
            "description": "Esta mesma listagem por HTTP."
          },
          "websocket": {
            "type": "string",
            "description": "URL `wss://` da sala; mande `{t:'hello',token}` antes de falar."
          },
          "channel": {
            "type": "string",
            "description": "Ficha do canal a que a sala pertence."
          }
        },
        "required": [
          "self",
          "websocket",
          "channel"
        ],
        "description": "Endereços da sala — incluindo o WebSocket, que é o caminho ao vivo."
      },
      "Conta": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID da conta."
          },
          "email": {
            "type": "string",
            "description": "E-mail confirmado por código."
          }
        },
        "required": [
          "id",
          "email"
        ],
        "description": "A pessoa por trás da sessão."
      },
      "Reivindicacao": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "Se havia algo a reivindicar."
          },
          "product": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ReivindicacaoProduto"
              }
            ],
            "description": "O convidado que a conta já tinha, e o que fazer com ele."
          }
        },
        "required": [
          "ok",
          "product"
        ],
        "description": "O que o verify achou de convidado já ligado a este e-mail. É o campo que salva a biblioteca de outro aparelho."
      },
      "ReivindicacaoProduto": {
        "type": "object",
        "properties": {
          "guest_token": {
            "type": "string",
            "description": "O convidado ANTIGO da conta. É este que tem a biblioteca."
          },
          "adopt": {
            "type": "boolean",
            "description": "`true` quer dizer: jogue fora o convidado local e passe a usar o de cima."
          },
          "resources": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Recursos"
              }
            ],
            "description": "O que existe nesse convidado antigo."
          }
        },
        "required": [
          "guest_token",
          "adopt",
          "resources"
        ],
        "description": "Qual convidado usar depois de entrar — o novo ou o que já existia."
      },
      "Recursos": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "integer",
            "description": "Quantas pastas o dono tem."
          },
          "favorites": {
            "type": "integer",
            "description": "Quantos canais ele favoritou."
          },
          "history": {
            "type": "integer",
            "description": "Quantos canais estão no histórico."
          }
        },
        "required": [
          "categories",
          "favorites",
          "history"
        ],
        "description": "O tamanho da biblioteca do dono — para o agente saber o que vai encontrar antes de buscar."
      },
      "Billing": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "description": "Sempre `x402` — é o único protocolo de cobrança aceito."
          },
          "mode": {
            "type": "string",
            "description": "Modo do vendedor: `live` cobra de verdade, `dev` libera sem pagar."
          },
          "network": {
            "type": "string",
            "description": "Rede da USDC: `base` em produção, `base-sepolia` em homologação."
          },
          "chain_id": {
            "type": "integer",
            "description": "Chain ID EVM da rede acima, para a carteira assinar na cadeia certa."
          },
          "pay_to": {
            "type": "string",
            "description": "Endereço que recebe o pagamento.",
            "nullable": true
          },
          "homolog": {
            "type": "boolean",
            "description": "Seam de homologação ligado: dá para fechar o loop sem gastar USDC."
          },
          "dev": {
            "type": "boolean",
            "description": "Modo de desenvolvimento: o 402 é simulado."
          },
          "dev_gate": {
            "type": "string",
            "description": "Como o modo dev é destravado, quando existe.",
            "nullable": true
          },
          "facilitator": {
            "type": "string",
            "description": "URL do facilitador que verifica e liquida o pagamento."
          },
          "asset": {
            "type": "string",
            "description": "Moeda aceita — sempre `USDC`."
          },
          "asset_address": {
            "type": "string",
            "description": "Contrato da USDC na rede acima."
          },
          "faucet": {
            "type": "string",
            "description": "Torneira de USDC de teste; só em base-sepolia.",
            "nullable": true
          },
          "wallets": {
            "type": "object",
            "description": "Links de carteiras que falam x402 (metamask, coinbase, base_app)."
          },
          "product": {
            "type": "string",
            "description": "Nome do produto que está cobrando."
          },
          "prices": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Precos"
              }
            ],
            "description": "Quanto custa cada ação paga, em USD."
          },
          "chat": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Passe"
              }
            ],
            "description": "Seu passe de chat; sem credencial vem inativo."
          },
          "limits": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TetosGaleria"
              }
            ],
            "description": "Quantas pastas, sub-abas e canais cabem."
          }
        },
        "required": [
          "provider",
          "mode",
          "network",
          "chain_id",
          "pay_to",
          "homolog",
          "dev",
          "dev_gate",
          "facilitator",
          "asset",
          "asset_address",
          "faucet",
          "wallets",
          "product",
          "prices",
          "chat",
          "limits"
        ],
        "description": "Tudo que decide se uma chamada vai custar: a configuração x402, os preços do produto, o seu passe e os tetos da galeria."
      },
      "Precos": {
        "type": "object",
        "properties": {
          "contact_agent_usd": {
            "type": "number",
            "description": "Custo de um contato de agente."
          },
          "chat_month_usd": {
            "type": "number",
            "description": "Custo do passe de chat por 30 dias."
          }
        },
        "required": [
          "contact_agent_usd",
          "chat_month_usd"
        ],
        "description": "Preços em vigor, em dólar. Leia daqui, não da documentação."
      },
      "TetosGaleria": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "integer",
            "description": "Pastas por dono."
          },
          "groups_per_category": {
            "type": "integer",
            "description": "Sub-abas por pasta."
          },
          "items_per_group": {
            "type": "integer",
            "description": "Canais por sub-aba."
          }
        },
        "required": [
          "categories",
          "groups_per_category",
          "items_per_group"
        ],
        "description": "Os limites da galeria pessoal — existem para o catálogo público não ser despejado numa biblioteca."
      },
      "Metricas": {
        "type": "object",
        "properties": {
          "app": {
            "type": "string",
            "description": "Nome do produto."
          },
          "today": {
            "type": "string",
            "description": "Dia de referência (UTC, AAAA-MM-DD)."
          },
          "today_visits": {
            "type": "integer",
            "description": "Visitas contadas hoje."
          },
          "today_contacts": {
            "type": "integer",
            "description": "Contatos de hoje; só com `METRICS_TOKEN`."
          },
          "today_plays": {
            "type": "integer",
            "description": "Plays contados hoje."
          },
          "today_feeds": {
            "type": "integer",
            "description": "Feeds servidos hoje."
          },
          "days": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Um registro por dia da janela, com as contagens de cada métrica."
          },
          "usage": {
            "type": "object",
            "description": "Uso por recurso do produto — aqui, itens na galeria."
          },
          "accounts": {
            "type": "object",
            "description": "Total de convidados cadastrados."
          },
          "top_plays": {
[...]
